* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    border: 2px solid red;
}

a {
    text-decoration: none;
}

p{
    text-align: center;
    padding-top: 15px;
}

.border, header, main, .card-holder, .card{
    border: 2px solid red;
}

@media only screen and (max-width: 426px) {
    header {
        display: flex;
        justify-content: center;
    }

    .brand {
        margin-top: 16px;
        margin-right: 20px;
        margin-left: 10px;
    }

    nav {
        display: flex;
    }

    .searchBar {
        margin-top: 15px;
        margin-left: 10px;
    }

    #findBar {
        width: 100px;
    }

    .menu {
        margin-left: 20px;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980B9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 30px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

    main{
        display: flex;
        flex-direction: column;
        
    }
    /* .creator{
       
    } */
    .photo{
        width: 100%;
    }
    .text{
        text-align: center;
        margin-bottom: 20px;
    }
    .card-holder{
        overflow: hidden;
    }
    .card{
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
    }
    .card-image{
        width: 100%;
    }
    .card-tag{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .card-genre{
        margin-right: 30px;

    }
    .card-title{
        margin-left: 30px;
    }
    .card-info{
        display: flex;
        text-align: center;
    }
    .developer{
        background-color: red;
        height: 50px;
    }
    .release-year{
        background-color: seagreen;
        height: 50px;
    }
    .description{
        background-color: yellow;
        height: 150px;
    }
    .link{
        background-color: #3498DB;
        height: 50px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    .footerText{
        width: 100%;
        background-color: white;
        text-align: center;
    }
        

}

@media only screen and (min-width:426px) and (max-width: 880px) {}

@media only screen and (min-width: 881px) {}