* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 426px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(/image/achtergrond-van-metalen-traanplaat_42612-44.jpg);
    }

    .dev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .photo{
        align-self: center;
        width: 250px;
        height: 100%;
    }

    .border,
    .card,
    .card-image,
    section,
    p,
    .colin,
    .photo{
        border: 2px solid #540b0e;
        border-radius: 10px;
        box-shadow: 2px 2px;
    }

    .card {
        width: 300px;
        height: 500px;
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #335c67;
    }

    .card-image {
        width: 90%;
        height: 200px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    section {
        width: 90%;
        height: 80%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #9e2a2b;
    }

    p {
        width: 200px;
        align-self: center;
        margin: 2%;
        padding: 3%;
        background-color: #fff3b0;
    }

    .card-Info {
        display: flex;
        flex-direction: column;

        align-self: center;
    }
}


@media only screen and (min-width:426px) and (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: url(/image/achtergrond-van-metalen-traanplaat_42612-44.jpg);
    }

    .border,
    .card,
    .card-image,
    section,
    p,
    .photo {
        border: 4px solid #540b0e;
        border-radius: 10px;
        box-shadow: 2px 2px;
    }

    .dev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 40%;
        margin-bottom: 2%;
    }

    .photo{
        align-self: center;
        width: 250px;
        height: 100%;
    }

    .card-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 500px;
        align-items: center;
        margin: 2%;
        background-color: #335c67;
    }

    .card-image {
        width: 90%;
        height: 400px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    section {
        width: 90%;
        height: 100%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #9e2a2b;
    }

    p {
        width: 200px;
        align-self: center;
        margin: 2%;
        padding: 3%;
        background-color: #fff3b0;
    }

    .card-Info {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media only screen and (min-width: 769px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: url(/image/achtergrond-van-metalen-traanplaat_42612-44.jpg);
    }

    .border,
    .card,
    .card-image,
    section,
    p,
    .photo {
        border: 2px solid #540b0e;
        border-radius: 10px;
        box-shadow: 2px 2px;
    }

    .dev {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30%;
        margin-top: 2%;
        margin-bottom:  2%;
    }

    .photo{
        align-self: center;
        width: 250px;
        height: 100%;
    }

    .card-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 17%;
        height: 500px;
        align-items: center;
        margin: 1%;
        background-color: #335c67;
    }

    .card-image {
        width: 90%;
        height: 400px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    section {
        width: 90%;
        height: 100%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #9e2a2b;
    }

    p {
        width: 200px;
        align-self: center;
        margin: 4%;
        padding: 2%;
        background-color: #fff3b0;
    }

    .card-Info {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}